* {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 24px;
}

window {
    margin: 5px;
    background-color: rgba(57,62,70,0.8);
}

#input {
    margin: 5px;
    background: transparent;
    color: white;
}

#inner-box {
    margin: 5px;
}

#outer-box {
    margin: 5px;
    border: 2px transparent;
}

#scroll {
    margin: 5px;
}

#text {
    margin: 5px;
    color: white;
}

#entry:selected {
    background-color: rgba(57,62,70,0.3);
}

#text:selected {
    text-decoration: underline;
    text-decoration-color: white;
}
